/*-------------------------------------------------------------------------------------------------------------------------------------------ОБЩЕЕ--------------------------------------------------------------------------------------------------------------------------------------------------------------*/
header, nav, article, aside { display: flex; }
div {
	font-size: 34px; 
	font-family: -apple-system, BlinkMacSystemFont, Open Sans, Roboto,Helvetica Neue, Helvetica, sans-serif;
}
a {
	text-decoration: none; 
	color: #C99447;
}
    ::-webkit-scrollbar { width: 13px; }
    ::-webkit-scrollbar-thumb { border-radius: 3px; }
	body { overflow:hidden; }
/*-------------------------------------------------------------------------------------------------------------------------------------------ОБЩЕЕ--------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------СВЕТЛАЯ ТЕМА----------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media (prefers-color-scheme: light) {
    #ico { filter: invert(1); }
    body { height: 1oovh; background: linear-gradient(white 184px, #C99447 184px, #C99447 190px, #F2F2F3 190px);}
    div { color: #222529; }
    ::-webkit-scrollbar-track { background: #E8EDF3; }
    ::-webkit-scrollbar-thumb { background: #C99447; }
    ::-webkit-scrollbar-thumb:hover { background: #C99447; }
    .HeaderImage { filter: invert(1); }
    #Welcome { background-color: #FFFFFF; }
    .Блок { background-color: #FFFFFF; }
    .Картинки {filter: invert(1);}
    .Z { filter: invert(1); }
}
/*---------------------------------------------------------------------------------------------------------------------------------------СВЕТЛАЯ ТЕМА-----------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------ТЁМНАЯ ТЕМА------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media (prefers-color-scheme: dark) {
    body { height: 100vh; background: linear-gradient(#1C1C1E 184px, #C99447 184px, #C99447 190px, #141414 190px); }
    div { color: #FFFFFF; }
    ::-webkit-scrollbar-track { background: #36373D; }
    ::-webkit-scrollbar-thumb { background: #C99447; }
    ::-webkit-scrollbar-thumb:hover { background: #C99447; }
    .NavA { background-color: #36373D; }
    #Welcome { background-color: #1C1C1E; }
    .Блок { background-color: #1C1C1E; }
}
/*---------------------------------------------------------------------------------------------------------------------------------------ТЁМНАЯ ТЕМА------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------ЭКРАНЫ--------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*@media screen and (min-width: 1280px) {*/
    .HeaderImage { background-color:Orange; width: 110px; height: 110px; margin-left:2vw; margin-right:2vw; }
    #HeaderImage6 { width: 82px; }
header {
	justify-content:center;
	background-color:yellow;
}

nav {
	justify-content:center;
	background-color:green;
}


#Welcome{
	justify-content:flex-start;
    line-height: 40px;
    border-radius: 3px;  
	background-color: pink;
	padding-bottom:20px;
}

#Bald {
	justify-content: flex-end; 
    width: 13.72vw;
	background-color:brown;
}

/*}*/
/*------------------------------------------------------------------------------------------------------------------------------------------ЭКРАНЫ--------------------------------------------------------------------------------------------------------------------------------------------------------------*/

























































/*СКЛАД*/
/*
#Отступ{position: absolute;
  top: 12vw;}


.sample {
  width: 23.8vw;   
  position:  relative;
  top: 8vw;
  left: 1vw;
  border-radius: 0.2vw;
  }

.Блок {
  position: absolute;
  top: 12vw;
  border-radius: 0.2vw;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 1vw;
}

#Подблок {
  font-size: 1.88vw;
  position: absolute;
  top: 12vw;
  left: 13vw;
  line-height: 2.38vw;
}

#w1 {margin-left: 1.8vw;}
#w2 {margin-left: 3.5vw;}
.Картинки {
	width: 2.5vw;
}
#medium {
  margin-left: 1vw;
  margin-right: 1vw;
}
*/